<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practiseandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PractiseAndroid">
        <activity
            android:name=".BasicMVP.MVPActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AudioRecording.Audiorecording"
            android:exported="true">
        </activity>
        <activity
            android:name=".Animatedgradientbackground"
            android:exported="true"></activity>
        <activity
            android:name=".NinePathImage"
            android:exported="false" />
        <activity
            android:name=".OnSaveInstanceState"
            android:exported="true" />
        <activity
            android:name=".AlarmManagerExample"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver android:name=".MyBroadcastReceiver" />
    </application>

</manifest>